.featuredCarousel{
    width: 95%;
    height: 80%;
    margin: 0 auto;

}

.carouselContainer{
    position: relative;
    height: 100%;
    width:100%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigationArrows{
    position: absolute;
    top:50%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigationArrows > svg{
    height: 45px;
    width:45px;
    z-index:2;
}
.navigationArrows > svg:hover{
    cursor: pointer;
    fill:var(--brand-blue);
    z-index:2;
    transition: 100ms ease-in;
}
.navigationArrows > svg > path:hover{
    cursor: pointer;
    fill:var(--brand-blue);
    z-index:2;
    transition: 100ms ease-in;
}

@keyframes fadeIn{
    0%{
        opacity:0%;
    }
    100%{
        opacity:100%;
    }
}
.ellipseContainer{
    margin: 1.5rem auto;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:8px;
    align-items: center;
}

.carouselEllipse{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color:white;
}

.carouselEllipse:hover{
    height: 15px;
    width: 15px;
    cursor: pointer;
    background-color: var(--brand-blue);
    transition: 50ms ease-in;
}
.selected{
    height: 15px;
    width: 15px;
    background-color: var(--brand-blue);
}
.unselected{
    background-color: white;
}
@media only screen and (max-width: 640px){
    .navigationArrows > svg{
        height: 45px;
        width:45px;
        z-index:2;
    }
    .featuredCarousel{
        height: 50vh;  
    } 
    .carouselContainer{
        height: 30vh;
        width:100%;
    }
}