.specificationsTableContainer{
    height: max-content;
    width:100%;
    margin: 0 auto;
}

.specificationsTable{
    height: max-content;
    width: 100%;
    margin:1rem 0rem;
}
.tableBody > tr > td:first-child{
    background: rgba(0, 0, 0, 0.19);
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    padding: 7px 0px;
    border: 2px solid rgba(172, 168, 168, 0.15);
}
.tableBody > tr > td:nth-child(even){
    background:rgba(0, 0, 0, 0.51);
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    padding: 7px 0px;
    border: 2px solid rgba(172, 168, 168, 0.15);
}