.newArrivalSection{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width:100%;
  margin:0.5rem auto 0.5rem auto;
}
.newArrivalsHeading {
  width: 90%;
  max-width: 1835px;
  margin:0rem auto 1rem auto;
  }
.newArrivalsHeading > h2{
  color:var(--brand-blue);
  font-size:18px;
  font-style:normal;
  font-weight: 800;
  line-height: normal;
  margin: 0.5rem 0rem 0.5rem 0rem;
  }
.newArrivalsContainer{
  width:100%;
  height:max-content;
  max-width: 1920px;
  margin:0 auto;
}
@media only screen and (min-width:1200px){
  .newArrivalSection{
    height: 50vh;
    width:100%;
    margin:0 auto 12rem auto;
  }
}