.projectShowcaseSection{
    height: max-content;
    width:100%;
    /* max-width: 1920px; */
    margin : 3rem auto;
    display: flex;
    flex-direction: column;
}

.projectShowcaseHeading{
    width:95%;
    margin: 0rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.projectShowcaseHeading > h2{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.imageWrapper{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
}

.imageContainer{
    height: 100%;
    width: max-content;
    margin:0rem;
    padding:0;
    position: relative;
}
.imageContainer:hover{
    cursor : pointer;
}
.imageContainer > img{
    object-fit: cover;
    width: 100%;
    min-width: 100vw;
    height:auto;
    pointer-events: none;
}
.sliderContainer{
    height: 10%;
    width:100%;
    margin:1.5rem auto 0rem auto;
}
.projectInfo{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    left: 0;
    opacity: 0;
}
.projectInfo > h1{
    color:var(--brand-blue);
    font-size:4rem;
    font-style:normal;
    font-weight: 1000;
    line-height: normal;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.projectInfo > h3{
    color: #FFF;
    font-size: 14px;
    text-align: center;
    font-weight: 550;
}
.projectInfo > a > button{
    height: 45px;
    width:100px;
    background-color: var(--brand-blue);
    color: #000;
    font-size: 12px;
    font-family:'Roboto',sans-serif;
    font-weight: bolder;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin:0.5rem auto 2rem auto;
}

.projectInfo:hover{
    animation: 500ms ease-in forwards fade-in
}
.projectInfo:hover > h1{
    animation: 500ms ease-in forwards move-in-fade-in
}
.projectInfo:hover > h3{
    animation: 500ms ease-in forwards move-in-fade-in
}
.projectInfo:hover > a{
    animation: 500ms ease-in forwards move-in-fade-in
}

@keyframes fade-in{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes move-in-fade-in{
    0%{
        opacity:0;
        position:relative;
        top:3rem;
    }
    100%{
        opacity:1;
        position:relative;
        top:0;
    }
}

@media only screen and (min-width:848px){
    .imageContainer{
        height: max-content;
        width:calc(100% / 2);
    }
    .imageContainer > img{
        object-fit: cover;
        min-width: 100%;
        height:auto;
        pointer-events: none;
    }
    .projectInfo > h1{
        color:var(--brand-blue);
        font-size:6rem;
        font-style:normal;
        font-weight: 1000;
        line-height: normal;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    .projectInfo > h3{
        color: #FFF;
        font-weight: 550;
    }
    .projectInfo > a > button{
        height: 60px;
        width:170px;
        background-color: var(--brand-blue);
        color: #000;
        font-size: 1rem;
        font-family:'Roboto',sans-serif;
        font-weight: bolder;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        margin:2rem auto 2rem auto;
    }
}