:root{
    --product-card-spacing: 4px;
}

.productCardContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:60%;
    min-width: calc(100%/3 - var(--product-card-spacing));
    min-height: 40vh;
    max-width: 100px;
    background-color:var(--sc-bg-color);
    border-radius: 10px;
    border:none;
}
.productCardContainer:hover{
    background-color:rgba(55, 54, 54, 0.112);
    transition: 250ms ease;
    box-shadow:2px 3px 1px rgba(0, 0, 0, 0.112);
}

.image{
    width:100%;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.image:hover{
    cursor: pointer;
}
img{
    object-fit: contain;
    vertical-align: middle;
    height: auto;
    width:60%;
}
.productInfo{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2rem;
    flex: 1;
    margin: 0 auto;
}
.productInfo :hover{
    cursor: pointer;
    color : var(--brand-blue);
}
.productInfo > h2{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
}
.productInfo > h3{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

/* .sales-container{
    
} */
.salesContainer > h3{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.salesContainer > h3 > span{
    color: var(--brand-blue);
}


@media only screen and (max-width:500px) {
    .productCardContainer{
        min-width: calc(100%/2 - var(--product-card-spacing));
    }    
    .image{

        flex:3;
    }
    .productInfo {
        flex: 7;
    }
    .productInfo > h2{
        font-size: 12px;
    }
    .productInfo > h3{
        font-size: 10px;
    }
  }

@media only screen and (min-width:1200px) {
    .productCardContainer{
        min-width: calc(100%/4 - var(--product-card-spacing));
    }
    .productInfo{
        bottom: 2rem;
    }
}
@media only screen and (min-width:1500px){
    .productCardContainer{
        min-width: calc(100%/5 - var(--product-card-spacing));
    }
}

@media only screen and (min-width:2000px) {
    .productCardContainer{
        min-width: calc(100%/6 - var(--product-card-spacing));
    }
}