@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
  --brand-blue : #00BFE8;
  --main-bg-color : #121212;
  --sc-bg-color : rgba(3, 1, 1, 0.13);
  --main-text-color: #ACA8A8;
  --scroll-bar-width: 5px;
  --scroll-bar-thumb: #202020;
  --scroll-bar-thumb-hover: #1b1b1b;
  --scroll-bar-track: transparent;
}

html{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  color: var(--main-text-color);
}

body{
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a{
  cursor: pointer;
  text-decoration: none;
}
/* p{
  color: var(--main-text-color);
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover);
  transition: 500ms ease;
  cursor: pointer;
}